.main-container {
  $height: 600px;
  $primary: #48a5ea;
  $back-color: #f0f0f0;
  padding: 0;
  width: 1000px;
  height: $height;
  top: calc((100% - #{$height}) / 2);
  margin-bottom: 60px;
  border-radius: 8px;

  @media (max-width: 1200px) {
    width: 900px;
  }
  @media (max-width: 1050px) {
    width: 750px;
  }
  @media (max-width: 900px) {
    width: 700px;
  }
  @media (max-width: 767.98px) {
    width: 600px;
  }
  @media (max-height: 650px) {
    top: 30px;
    width: 550px;
  }
  // @media (max-height: 550px) {
  //   width: 250px;
  // }

  &:before {
    display: block;
    margin-left: -50px;
    border-radius: 12px 0 0 12px;
    content: "";
    width: 50px;
    height: 24px;
    background-color: $primary;
    @media (max-width: 900px) {
      display: none;
    }
  }
  .first {
    margin-top: 48px;
    margin-left: -16.5px;
    border-radius: 12px 0 0 12px;
    width: 16.5px;
    height: 24px;
    background-color: $primary;
    @media (max-width: 900px) {
      display: none;
    }
  }

  .aside {
    padding: 0;
    background-color: $primary;
    height: 600px;

    .arrow {
      margin-top: 40px;
      padding: 10px;
      width: 40px;
      height: 40px;
      color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 50%;
      transition: color 0.2s linear, border 0.2s linear;
      @media (max-width: 767.98px) {
        margin-top: 20px;
        width: 30px;
        height: 30px;
        font-size: 12px;
      }
      &:hover {
        color: lightgrey;
        border: 2px solid lightgrey;
        cursor: pointer;
      }
    }
    .container-top {
      width: 100%;
      height: 100%;
      max-height: 96px;
      text-align: center;
      padding: 0;

      &:before {
        display: block;
        content: "";
        margin-top: 24px;
        border-radius: 0 12px 12px 0;
        width: 16px;
        height: 24px;
        background-color: $back-color;
        @media (max-width: 900px) {
          display: none;
        }
      }
      .figure {
        position: absolute;
        margin-top: 72px;
        border-radius: 0 12px 12px 0;
        width: 12px;
        height: 24px;
        background-color: $back-color;
        @media (max-width: 900px) {
          display: none;
        }
      }
      .arrow-top {
        width: 100%;
        height: 100%;
        margin-right: 16px;
        padding: 0;
        @media (max-width: 900px) {
          margin-right: 0;
        }
        @media (max-width: 767.98px) {
          max-height: 50px;
        }
      }
    }
    .container-center {
      padding: 0;
      height: 100%;
      max-height: 380px;
      .circle {
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        margin: 3px;
        transition: width .2s linear, height .2s linear, border-radius .2s linear;
        
      }
      .change {
        width: 10px;
        height: 16px;
        border-radius: 6px / 10px;
      }
    }
    .container-bottom {
      height: 100%;
      max-height: 120px;
      padding: 0;
      @media (max-width: 767.98px) {
        max-height: 70px;
        margin-top: 45px;
      }
    }
  }

  .form {
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

    .form-container {
      height: 600px;
      padding: 0 20px;
    }

    .form-title {
      width: 100%;
      height: 100%;
      max-height: 96px;
      padding: 0;
      p {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        font-family: Arial;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.78;
        letter-spacing: normal;
        text-align: left;
        color: #3897d9;
      }
    }
    .separator {
      width: 100%;
      height: 1px;
      opacity: 0.3;
      background-color: #d8d8d8;
    }

    .form-fields {
      padding: 0;
      height: 100%;
      max-height: 380px;

      .input-section {
        padding: 0;
        height: 80px;
        color: #333333;
        font-family: Arial;

        .field-name {
          font-size: 20px;
          padding: 0;
          mat-form-field {
            padding: 0;
          }
          &:nth-child(even) {
            padding-left: 20px;
          }
          &:nth-child(odd) {
            padding-right: 20px;
          }
        }
        .location mat-form-field:nth-child(even) {
          padding-left: 20px;
        }
        .material-icons {
          font-size: 20px;
          color: #56b650;
          height: 20px;
          &.lock {
            color: #9e9e9e;
          }
        }
        #mySelectId {
          font-size: 20px;
        }
      }
    }
    .form-controls {
      width: 100%;
      height: 100%;
      max-height: 120px;
      padding: 0;

      button:focus {
        outline: none;
      }
      .finish-btn {
        padding: 0 38.5px;
      }

      .reset-btn {
        margin-left: -16px;
        color: #9e9e9e;
        transition: color 0.2s linear;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .main-container {
    .form {
      .form-title {
        max-height: 50px;
        p {
          margin-top: 10px;
          font-size: 15px;
        }
      }
      .form-container {
        padding: 0;
        .form-fields {
          max-height: 450px;
          .input-section {
            padding: 0;
            height: 70px;
            color: #333333;
            justify-content: center;

            .field-name {
              font-size: 12px;
              padding: 0;
              mat-form-field {
                padding: 0;
              }
              &:nth-child(even) {
                padding-left: 0;
              }
              &:nth-child(odd) {
                padding-right: 0;
              }
            }
            .location mat-form-field:nth-child(even) {
              padding-left: 20px;
            }
            .material-icons {
              font-size: 12px;
            }
            #mySelectId {
              font-size: 20px;
            }
          }
        }
        .form-controls {
          margin-top: 20px;
          max-height: 70px;

          .reset-btn {
            margin-left: -16px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
