.mat-select {
    .mat-select-arrow {
        border: none !important;
        font-size: 15px;
        margin: -.4rem 1.0rem 1.0rem !important;
        @media (max-width: 767.98px) {
            font-size: 12px;
          }

        @extend .fas;
        @extend .fa-chevron-down;
    }
}